In [2]:
import os 
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
tables = {f.replace('.csv', ''): f for f in os.listdir('.') if f.endswith('.csv')}

In [22]:
for table_name, file_path in tables.items():
    print(table_name)
    tables[table_name] = pd.read_csv(file_path)
    print(tables[table_name].shape)

HumanResources.Department
(16, 4)
HumanResources.EmployeeDepartmentHistory
(100, 6)
HumanResources.Employee
(100, 16)
HumanResources.EmployeePayHistory
(100, 5)
HumanResources.JobCandidate
(13, 4)
HumanResources.Shift
(3, 5)

In [20]:
print()

{'HumanResources.Department':     DepartmentID                        Name  \
 0              1                 Engineering
 1              2                 Tool Design
 2              3                       Sales
 3              4                   Marketing
 4              5                  Purchasing
 5              6    Research and Development
 6              7                  Production
 7              8          Production Control
 8              9             Human Resources
 9             10                     Finance
 10            11        Information Services
 11            12            Document Control
 12            13           Quality Assurance
 13            14  Facilities and Maintenance
 14            15      Shipping and Receiving
 15            16                   Executive

                                GroupName         ModifiedDate
 0               Research and Development  2002-06-01 00:00:00
 1               Research and Development  2002-06-01 00:00:00
 2                    Sales and Marketing  2002-06-01 00:00:00
 3                    Sales and Marketing  2002-06-01 00:00:00
 4                   Inventory Management  2002-06-01 00:00:00
 5               Research and Development  2002-06-01 00:00:00
 6                          Manufacturing  2002-06-01 00:00:00
 7                          Manufacturing  2002-06-01 00:00:00
 8   Executive General and Administration  2002-06-01 00:00:00
 9   Executive General and Administration  2002-06-01 00:00:00
 10  Executive General and Administration  2002-06-01 00:00:00
 11                     Quality Assurance  2002-06-01 00:00:00
 12                     Quality Assurance  2002-06-01 00:00:00
 13  Executive General and Administration  2002-06-01 00:00:00
 14                  Inventory Management  2002-06-01 00:00:00
 15  Executive General and Administration  2002-06-01 00:00:00  ,
 'HumanResources.EmployeeDepartmentHistory':     BusinessEntityID  DepartmentID  ShiftID   StartDate     EndDate  \
 0                  1            16        1  2003-02-15         NaN
 1                  2             1        1  2002-03-03         NaN
 2                  3             1        1  2001-12-12         NaN
 3                  4             1        1  2002-01-05  2004-06-30
 4                  4             2        1  2004-07-01         NaN
 ..               ...           ...      ...         ...         ...
 95                94             7        2  2003-01-13         NaN
 96                95             7        2  2003-01-20         NaN
 97                96             7        2  2003-04-03         NaN
 98                97             7        2  2003-03-14         NaN
 99                98             7        2  2003-03-15         NaN

            ModifiedDate
 0   2003-02-14 00:00:00
 1   2002-03-02 00:00:00
 2   2001-12-11 00:00:00
 3   2004-06-28 00:00:00
 4   2004-06-30 00:00:00
 ..                  ...
 95  2003-01-12 00:00:00
 96  2003-01-19 00:00:00
 97  2003-04-02 00:00:00
 98  2003-03-13 00:00:00
 99  2003-03-14 00:00:00

 [100 rows x 6 columns],
 'HumanResources.Employee':     BusinessEntityID  NationalIDNumber                     LoginID  \
 0                  1         295847284        adventure-works\ken0
 1                  2         245797967      adventure-works\terri0
 2                  3         509647174    adventure-works\roberto0
 3                  4         112457891        adventure-works\rob0
 4                  5         695256908       adventure-works\gail0
 ..               ...               ...                         ...
 95                96         912141525  adventure-works\elizabeth0
 96                97         370581729     adventure-works\mandar0
 97                98         152085091     adventure-works\sameer0
 98                99         431859843       adventure-works\nuan0
 99               100         204035155      adventure-works\lolan0

    OrganizationNode  OrganizationLevel                       JobTitle  \
 0               NaN                  0        Chief Executive Officer
 1                58                  1  Vice President of Engineering
 2              5AC0                  2            Engineering Manager
 3              5AD6                  3           Senior Tool Designer
 4              5ADA                  3                Design Engineer
 ..              ...                ...                            ...
 95           7AE9BC                  4   Production Technician - WC50
 96           7AE9C2                  4   Production Technician - WC50
 97           7AE9C6                  4   Production Technician - WC50
 98           7AE9CA                  4   Production Technician - WC50
 99           7AE9CE                  4   Production Technician - WC50

      BirthDate MaritalStatus Gender    HireDate  SalariedFlag  VacationHours  \
 0   1963-03-02             S      M  2003-02-15             1             99
 1   1965-09-01             S      F  2002-03-03             1              1
 2   1968-12-13             M      M  2001-12-12             1              2
 3   1969-01-23             S      M  2002-01-05             0             48
 4   1946-10-29             M      F  2002-02-06             1              5
 ..         ...           ...    ...         ...           ...            ...
 95  1984-02-26             M      F  2003-04-03             0              5
 96  1980-04-21             S      M  2003-03-14             0              0
 97  1972-07-27             M      M  2003-03-15             0              4
 98  1973-04-29             S      M  2003-02-07             0              2
 99  1967-02-25             M      M  2003-02-13             0              7

     SickLeaveHours  CurrentFlag                               rowguid  \
 0               69            1  F01251E5-96A3-448D-981E-0F99D789110D
 1               20            1  45E8F437-670D-4409-93CB-F9424A40D6EE
 2               21            1  9BBBFB2C-EFBB-4217-9AB7-F97689328841
 3               80            1  59747955-87B8-443F-8ED4-F8AD3AFDF3A9
 4               22            1  EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08
 ..             ...          ...                                   ...
 95              22            1  62A9F73F-6443-4F2F-B864-18186614BFB6
 96              20            1  1F0E068A-48C5-40BF-8190-565150EFDADD
 97              22            1  A703169F-1563-488E-914D-D784FD07F29A
 98              21            1  A6089357-2F2F-48CC-AB3C-D9B75A3C09D7
 99              23            1  9B9B768D-7CC1-4DCE-87CB-765AB73A6AFF

            ModifiedDate
 0   2008-07-31 00:00:00
 1   2008-07-31 00:00:00
 2   2008-07-31 00:00:00
 3   2008-07-31 00:00:00
 4   2008-07-31 00:00:00
 ..                  ...
 95  2008-07-31 00:00:00
 96  2008-07-31 00:00:00
 97  2008-07-31 00:00:00
 98  2008-07-31 00:00:00
 99  2008-07-31 00:00:00

 [100 rows x 16 columns],
 'HumanResources.EmployeePayHistory':     BusinessEntityID       RateChangeDate      Rate  PayFrequency  \
 0                  1  2003-02-15 00:00:00  125.5000             2
 1                  2  2002-03-03 00:00:00   63.4615             2
 2                  3  2001-12-12 00:00:00   43.2692             2
 3                  4  2002-01-05 00:00:00    8.6200             2
 4                  4  2004-07-01 00:00:00   23.7200             2
 ..               ...                  ...       ...           ...
 95                92  2004-04-10 00:00:00   13.4500             1
 96                93  2003-01-28 00:00:00   25.0000             2
 97                94  2003-01-13 00:00:00   11.0000             1
 98                95  2003-01-20 00:00:00   11.0000             1
 99                96  2003-04-03 00:00:00   11.0000             1

            ModifiedDate
 0   2008-07-31 00:00:00
 1   2008-07-31 00:00:00
 2   2008-07-31 00:00:00
 3   2001-12-22 00:00:00
 4   2004-06-16 00:00:00
 ..                  ...
 95  2008-07-31 00:00:00
 96  2008-07-31 00:00:00
 97  2008-07-31 00:00:00
 98  2008-07-31 00:00:00
 99  2008-07-31 00:00:00

 [100 rows x 5 columns],
 'HumanResources.JobCandidate':     JobCandidateID  BusinessEntityID  \
 0                1               NaN
 1                2               NaN
 2                3               NaN
 3                4             274.0
 4                5               NaN
 5                6               NaN
 6                7               NaN
 7                8             212.0
 8                9               NaN
 9               10               NaN
 10              11               NaN
 11              12               NaN
 12              13               NaN

                                                Resume         ModifiedDate
 0   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 1   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 2   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 3   <ns:Resume xmlns:ns="http://schemas.microsoft....  2008-01-23 18:32:21
 4   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 5   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 6   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 7   <ns:Resume xmlns:ns="http://schemas.microsoft....  2008-01-23 18:32:21
 8   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 9   <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 10  <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 11  <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00
 12  <ns:Resume xmlns:ns="http://schemas.microsoft....  2001-07-24 00:00:00  ,
 'HumanResources.Shift':    ShiftID     Name StartTime   EndTime         ModifiedDate
 0        1      Day  07:00:00  15:00:00  2002-06-01 00:00:00
 1        2  Evening  15:00:00  23:00:00  2002-06-01 00:00:00
 2        3    Night  23:00:00  07:00:00  2002-06-01 00:00:00}